/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --animate-slide-down: slide-down 0.3s ease-out forwards;

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
